<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jandans.unityaddsgodot" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.UnityAdsGodot"
            android:value="com.jandans.unityaddsgodot.UnityAddsInterface" />
    </application>
</manifest>
